
/* page 1 */
.nav{
    border: 0px black solid;
    width: 100%;
    height: 90px;
    background-color: #5EB562;
}

.navicon{
    margin-left: 30px;
}

.displayName{
    margin-left: 1100px; 
    position: relative; 
    bottom: 50px; 
    color: white;
     font-weight: bold;
}

.displayTimer{
     margin-left: 1200px; 
     font-weight: bold;
}

.form{
    border: 0px black solid;
    width: 400px;
    height: 500px;
    margin-top: 20px;
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.h1{
    color: #5EB562;
    text-align: center;
}

.image{
  display: flex;
  justify-content: center;
}

.logo{
    width: 150px;
}

.textArea{
   margin-left: 70px;
   margin-top: 50px;
   height: 25px;
   width: 250px;
   border: 0px;
   border-radius: 3px;
   padding-left: 10px;
}

.btn{
    width: 90px;
    height: 29px;
    border-radius: 4px;
    background-color: #5EB562;
    color: white;
    border: 0px black solid;
    margin-left: 150px;
    margin-top: 35px;
}

.name{
    margin-left: 1000px;
}

/* page2 */

.h3{
    text-align: center;
}


.btnNew{
     width: 90px;
    height: 29px;
    border-radius: 4px;
    background-color: #5EB562;
    color: white;
    border: 0px black solid;
    margin-left: 800px;
    margin-top: 35px;
}

.flex{
      display: flex;
    justify-content: center;
}

.flexQuiz{
    display: flex;
    justify-content: center;
    border: 0px black solid;
    height: 530px;
    display: none; background-image: url('./Assests/1 1.png');
}

.form1{
    border: 0px black solid;
    width: 400px;
    height: 300px;
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.options{
    text-align: center;
}

.scoreDisplay{
    text-align: center;
     font-weight: bold;
}